<mat-drawer [opened]="userService.username" mode="side" class="size">
  <div><button mat-button color="primary" class="full">clients</button></div>
  <div><button mat-button color="primary" class="full">communication</button></div>
  <div><button mat-button color="primary" class="full">...</button></div>
  <div><button mat-button color="primary" class="full">...</button></div>
  <div><button mat-button color="primary" class="full">...</button></div>
  <div><button mat-button color="primary" class="full">...</button></div>
</mat-drawer>
