<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 [ngClass]="{ center : !userService.username }">Endamti</h1>

    <div *ngIf="userService.username" class="right">
      <button mat-button (click)="navigate('home')">Overview</button>
      <button mat-button (click)="navigate('members')" disabled>Members</button>
      <button mat-button (click)="navigate('reporting')" disabled>Reporting</button>
      <button mat-button (click)="navigate('settings')" disabled>Settings</button>
      <button mat-button (click)="userService.logout()">Sign out</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="basic"  *ngIf="userService.username">
  <mat-toolbar-row class="second-toolbar">
    <div>
      <button mat-button [matMenuTriggerFor]="communication">Communication</button>
      <mat-menu #communication>
        <button mat-menu-item (click)="navigate('communications')">Communications</button>
        <button mat-menu-item (click)="email()">Send Email</button>
        <button mat-menu-item (click)="sms()">Send Sms</button>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="productServices">Product & Services</button>
      <mat-menu #productServices>
        <button mat-menu-item disabled>Applications</button>
        <button mat-menu-item disabled>Forms</button>
        <button mat-menu-item disabled>Classes</button>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="integration">Integration</button>
      <mat-menu #integration>
        <button mat-menu-item disabled>Widget Links</button>
        <button mat-menu-item disabled>Portal Links</button>
        <button mat-menu-item disabled>Payment</button>
      </mat-menu>
    </div>

    <div>
      <button mat-button disabled>Calendar</button>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="archive">Archive</button>
      <mat-menu #archive>
        <button mat-menu-item disabled>Member Archive</button>
        <button mat-menu-item disabled>Documents</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
