

<mat-card>
  <h1>Welcome to Endamti</h1>
  <h3>Please login to continue</h3>

  <mat-form-field class="full">
    <mat-label>User Name</mat-label>
    <input type="text" matInput [formControl]="nameCtrl" placeholder="User Name">
    <mat-error *ngIf="nameCtrl.hasError('required')">
      User Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full">
    <mat-label>Password</mat-label>
    <input type="password" matInput [formControl]="passCtrl" placeholder="Password">
    <mat-error *ngIf="passCtrl.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <span class="mat-error" *ngIf="message"> {{ message }} </span>

  <button class="full" (click)="login()" color="primary" mat-raised-button>Login</button>

  <br><br>

  <button class="full" (click)="register()" color="accent" mat-raised-button>Register</button>
</mat-card>
