:host {
  display: flex;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

table {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
