/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full {
  width: 100%;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
}

.mat-tab-body-content {
  flex-grow: 1;
  display: flex;
}

.tab-body {
  margin: 5px;
  background: #e8e8e8;
  flex-grow: 1;
}
