<mat-card class="module-card">
  <div class="wrapper">
    <div class="header">
      <h1>Clients</h1>
      <div><button mat-raised-button color="primary" (click)="addClient()">Add Client</button></div>
    </div>

    <mat-tab-group
      class="tabs"
      [selectedIndex]="selectedTab"
    >
      <mat-tab class="tabs" *ngFor="let tab of tabs; let i = index">
        <ng-template mat-tab-label>
          {{ tab.title }}&nbsp;
          <mat-icon *ngIf="tab.closable" (click)="removeTab(i)">cancel</mat-icon>
        </ng-template>
        <app-tab-content class="tabs" [tab]="tab"></app-tab-content>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
