:host {
  display: flex;
  flex-grow: 1;
}

.wrapper {
  /*border: green solid 1px;*/

  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.header {
  /*border: green solid 1px;*/

  display: flex;
  justify-content: space-between;
}

.module-card {
  margin: 15px;
  flex-grow: 1;
  /*background: lightsteelblue;*/
}

.body {
  /*border: green solid 1px;*/

  flex-grow: 1;
}

.tabs {
  flex-grow: 1;
  display: flex;
}
